models/research/deeplab/lsf/*
lsf*
data_scripting/.ipynb_checkpoints/
data_scripting/backup/
data/rasters/*
!data/rasters/readme.txt
models/research/deeplab/datasets/dataset66_vv_16/
.idea/
preprocessing/
*.pyc
models/*
!models/research
models/research/*
!models/research/deeplab
!models/research/slim
models/research/deeplab/datasets/sar_ice
models/research/deeplab/datasets/sar_ice.zip
*npy
